#control_bar {
	background: #ccc;
	bottom: 0px;
	height: 32px;
	left: 0px;
	position: fixed;
	width: 100%;
	z-index: 10001;
}
#control_bar div {
	display: block;
	float: left;
	margin: 6px;
}
.color_picker {
	height: 20px;
	width: 20px;
}
#skribl_toggle_button {
	position: fixed;
	right: 0px;
	width: 12px;
	height: 12px;
	background: #00ff00;
	z-index: 10001;
	top: 0px;
}
